

<div class="container">

  <!-- Table for Prices -->
  <div class="card m-5">
      <div class="card-header">
          <h4>Price Sheet</h4>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                      <th>Product Name</th>
                      <th>Unit Price #1</th>
                      <th>Unit Price #2</th>
                      <th>Unit Price #3</th>
                      <th>Unit Price #4</th>
                      <th>Unit Price #5</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- <tr *ngFor="let productprice of pricedProducts">
                          <td>{{productprice.productname}}</td>
                          <td>{{productprice.unit1price}}</td>
                          <td>{{productprice.unit2price}}</td>
                          <td>{{productprice.unit3price}}</td>
                          <td>{{productprice.unit4price}}</td>
                          <td>{{productprice.unit5price}}</td>
                      </tr> -->
                      <tr>
                          <td>Apple</td>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>4</td>
                          <td>5</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

   <!-- Price Calculator -->
   <div class="card m-5">            
    <div class="card-header bg-dark">
        <div class="row">
            <h4 style="color: aliceblue; text-align: center;">
                PRICE CALCULATOR
            </h4> <small style="color: beige; text-align: center;">* Required Fields</small>

        </div>
    </div>
<div class="container">    
    <div class="card-body ">
        <!-- <form [formGroup]="calcForm" (ngSubmit)="oncalcFormSubmit()"> -->
        <form >
            <div class="row">
                
                <div class="col">
                    <label for="type" class="form-label m-2">Product<small style="color: red;">*</small></label>
                </div>
                <div class="col" style="align-items: start;">
                    <select [(ngModel)] ='selectedValue' name="selectedValue" class="form-select m-2" aria-label="Default select example" id="cmbProductType">
                        <!-- <option  selected>Open this select menu</option> -->
                        <option  value= "1"> Apple </option>
                        <option  value= "2"> King-coconut </option>
                    </select>
                </div>
            </div>

            <div class="row">
                
                <div class="col">
                    <label for="type" class="form-label m-2">Quantity<small style="color: red;">*</small></label>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <!-- For cartons -->
                            <div class="input-group m-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cartons</span>
                                </div>
                                <input [(ngModel)] ='amtCarton' name="cartons" id="txtQtyCarton" type="number" class="form-control" placeholder="Enter carton quantity">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- For Single units -->
                            <div class="input-group m-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Singles</span>
                                </div>
                                <input [(ngModel)] ='amtSingles' name="singles" id="txtQtySingle" type="number" class="form-control" placeholder="Enter single unit quantity">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <button (click)="getInputs()" id="btnCalculate" type="submit" class="btn btn-success m-2">Calculate</button>
                </div>
                    
                
                
            </div>
        </form>
    </div>
</div>
   </div>

</div>